.sidebar {
    flex: 1;
    border-right: 0.5px solid rgb(238, 237, 237);
    min-height: 100vh;// to be 100% of screen height
    background-color: white;// for toggling later for dark mode
    
    .top {
        height: 50px;
        display: flex;
        align-items: center; // align vertically
        justify-content: center; // algin horizontly
        .logo {
            font-size: 20px;
            font-weight: bold;
            color: #6439ff;
        }
    }

    hr {
        height: 0;
        border: 0.5px solid rgb(238, 237, 237);
    }

    .center {
        padding-left: 10px;
        
        ul {
            .title {
                font-size: 15px;
                font-weight: bold;
                color: #999;
                margin-top: 15px;
                margin-bottom: 5px;
            }

            li {
                display: flex;
                align-items: center; // for vertical alignment
                padding: 5px;
                cursor: pointer;
                
                &:hover {
                    background-color: #e2dbff;
                }

                .icon {
                    font-size: 20px;
                    color: #7451f8;
                }

                span {
                    font-size: 15px;
                    font-weight: 600;
                    color: #888;
                    margin-left: 10px;
                }
            }
        }
    }

    .bottom {
        display: flex;
        align-items: center;
        margin: 10px;

        .colorOption {
            height: 20px;
            width: 20px;
            border: 1px solid #7451f8;
            border-radius: 5px;
            cursor: pointer;
            margin: 5px;
        
            // different color option
            &:nth-child(1) { // for first one
                background-color: whitesmoke;
            }
            &:nth-child(2) { // for first one
                background-color: rgb(54, 51, 51);
            }   
        }
    }
}